In [10]:
import praw as praw
import psaw as psaw

In [ ]:
r = praw.Reddit()
psaw

In [2]:
import yfinance as yf
import pandas as pd
msft = yf.Ticker("MSFT")
#print(msft.info)
print(type(msft.history()))

<class 'pandas.core.frame.DataFrame'>

In [6]:
msft.get_institutional_holders()

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",615950062,2021-12-30,0.0824,207156324851
1,Blackrock Inc.,519035634,2021-12-30,0.0694,174562064426
2,State Street Corporation,302541869,2021-12-30,0.0405,101750881382
3,"FMR, LLC",215377233,2021-12-30,0.0288,72435671002
4,Price (T.Rowe) Associates Inc,204196901,2021-12-30,0.0273,68675501744
5,"Geode Capital Management, LLC",129107118,2021-12-30,0.0173,43421305925
6,Capital World Investors,107717797,2021-12-30,0.0144,36227649487
7,Capital Research Global Investors,92868182,2021-12-30,0.0124,31233426970
8,Capital International Investors,90985531,2021-12-30,0.0122,30600253785
9,Northern Trust Corporation,88410999,2021-12-30,0.0118,29734387183

In [7]:
import json
with open('convert.txt', 'w') as convert_file:
     json.dump(msft.info, convert_file)

In [12]:
msft.history(interval='1h')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
2022-03-30 09:30:00-04:00,313.760010,314.959991,312.230011,313.220001,5007414,0,0
2022-03-30 10:30:00-04:00,313.239990,313.769989,311.579987,311.970001,2868595,0,0
2022-03-30 11:30:00-04:00,312.010010,314.839996,311.855011,314.730011,2631094,0,0
2022-03-30 12:30:00-04:00,314.734985,315.950012,314.049988,314.529999,3093074,0,0
2022-03-30 13:30:00-04:00,314.529999,314.929993,313.820007,313.940002,1746718,0,0
...,...,...,...,...,...,...,...
2022-04-29 12:30:00-04:00,283.700012,284.480011,282.899994,283.709991,1932710,0,0
2022-04-29 13:30:00-04:00,283.679993,284.119995,281.230011,281.579987,2134130,0,0
2022-04-29 14:30:00-04:00,281.540009,281.959991,279.970001,280.029999,3713287,0,0
2022-04-29 15:30:00-04:00,280.010010,280.649994,276.500000,277.529999,7118487,0,0
2022-04-29 16:00:00-04:00,277.519989,277.519989,277.519989,277.519989,0,0,0